.tasks {
  background-color: rgba(236, 236, 236, 0.274);
  min-height: 100vh;
  width: 85vw;
}

.to-do,
.done {
  min-height: 60vh;
}

.custom-btn {
  /* background-color: rgba(4, 4, 255, 0.274) !important; */
  background-color: rgba(4, 4, 255, 0.335) !important;
  color: white;
}

.tasks-container {
  padding: 0 10rem 10rem 10rem;
}
